<div class="input-field col s12 {{data.required|isRequired}}">
  <label class="active">{{data.label}}<sup ng-show="data.required|isRequired" class="red-text text-darken-2">*</sup></label>
  <br>
  <div class="switch">
    <label>
      {{data.options[0].label}}
      <input
      type="checkbox"
      id="{{data.id}}-switch"
      ng-model="data.value"
      ng-false-value="{{data.options[0].value}}"
      ng-true-value="{{data.options[1].value}}"
      name="{{data.id}}" />
      <span class="lever"></span>
      {{data.options[1].label}}
    </label>
  </div>
</div>
<div class="input-field col s12"> &nbsp; </div>
