<div class="input-field col s12 {{data.required|isRequired}}">
  <label for="{{data.id}}" class="active">{{data.label}}<sup ng-show="data.required|isRequired" class="red-text text-darken-2">*</sup></label>
  <p ng-repeat="(index, val) in data.value">
    <input
    id="{{data.id}}-{{index}}"
    name="{{data.id}}"
    type="radio"
    placeholder="{{data.placeholder}}"
    value="{{val.value}}"
    class="validate"
    />
    <label for="{{data.id}}-{{index}}">{{val.label}}</label>
  </p>
</div>
