<nav class="white">
  <div class="nav-wrapper">
    <a class="brand-logo teal-text">
      {{title}}
    </a>
    <a href="#/{{module}}" class="button-collapse"><i class="material-icons teal-text lighten-2">keyboard_backspace</i></a>
    <a href="#/{{module}}/{{id}}/delete" class="button-collapse right"><i class="material-icons teal-text lighten-2">delete</i></a>
    <a href="#/{{module}}/{{id}}/update" class="button-collapse right"><i class="material-icons teal-text lighten-2">edit</i></a>
  </div>
</nav>

<br>

<div class="row" ng-repeat="(key, value) in fields">
  <div class="input-field col s12">
    <input id="disabled-{{key}}" type="text" value="{{value}}" class="validate" />
    <label for="disabled-{{key}}" class="active">{{key}}</label>
  </div>
</div>
