<nav class="white">
  <div class="nav-wrapper">
    <a class="brand-logo teal-text">
      {{title}}
    </a>
    <a href="#/{{module}}" class="button-collapse"><i class="material-icons teal-text lighten-2">keyboard_backspace</i></a>
    <a ng-click="onUpdate()" class="button-collapse right"><i class="material-icons teal-text lighten-2">check</i></a>
  </div>
</nav>

<br>

<div class="row" ng-repeat="(key, value) in fields">
  <div class="input-field col s12">
    <input id="update-{{key}}" type="text" class="validate" ng-model="fields[key]" />
    <label for="update-{{key}}" class="active">{{key}}</label>
  </div>
</div>
