<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">
      Profile
    </a>
    <a href="#/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">keyboard_backspace</i></a>
    <a href="#/user/password" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">lock</i></a>
  </div>
</nav>

<br>
<div class="container" ng-cloak>
  <div class="row">
    <form name="formRegister" ng-submit="user.onSubmit()" class="col s12">

      <div class="row" ng-show="user.error">
        <div class="col s12">
          <div class="card-panel red accent-4">
            <span class="white-text">
              {{user.errorMessage}}
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input name="first_name" id="first_name" type="text" class="validate" required ng-model="user.first_name">
          <label for="first_name" class="active">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name="last_name" id="last_name" type="text" class="validate"  required ng-model="user.last_name">
          <label for="last_name" class="active">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input value="" id="username" name="username" type="text" class="validate"  required ng-model="user.username">
          <label for="username" class="active">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required ng-model="user.email" required>
          <label for="email" class="active">Email</label>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate" required ng-model="user.password">
          <label for="password" class="active">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password2" id="password2" type="password" class="validate" required ng-model="user.password2">
          <label for="password2" class="active">Confirm Password</label>
        </div>
      </div>
      -->

      <div class="row">

        <div class="input-field col s12 center-align" ng-show="user.loading">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>

        <div class="input-field col s12 center-align">
          <button class="btn waves-effect waves-light" type="submit" name="action">Update
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
