<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">Seed</a>
      <a href="#/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/user/register">Register</a></li>
        <li><a href="#/user/login">Login</a></li>
        <li><a href="#/user/profile">Profile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/user/register">Register</a></li>
        <li><a href="#/user/login">Login</a></li>
        <li><a href="#/user/profile">Profile</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  Hello buddy !. <br>
  you see the seed.

</div>
